# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
env/
venv/
ENV/
ENV.bak/
*.env/  # parfois les envs sont nommés ".env/"

# Pip
pip-log.txt
pip-delete-this-directory.txt

# IDEs / Editors
.idea/
.vscode/
*.swp  # fichiers temporaires de certains éditeurs (ex: vim)

# Configuration sensible
.env  # fichiers d'environnement (ne jamais versionner !)
.env.*  # optionnel, pour .env.dev, .env.local, etc.

# === LaTeX ===
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
